version: '3.8'

services:
  leptos-demo:
    build:
      context: .
      dockerfile: Dockerfile
      platforms:
        - linux/amd64
    platform: linux/amd64
    container_name: leptos-demo
    ports:
      - "8080:80"
    volumes:
      - .:/app
